header {
  text-align: center;
  grid-area: head;
}

.filter {
  grid-area: filter;
  text-align: center;
}

.mapContainer {
  grid-area: map;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  grid-area: list;
  text-align: center;
}
button {
  margin: 10px;
}
.App {
  display: grid;
  grid-template-rows: 100px 100px auto auto;
  grid-template-columns: 100px 500px 100px;
  grid-template:
    "head head head head head"
    "filter filter filter filter filter"
    ". . map . . "
    ". . list . . ";
  align-content: space-around;
  justify-content: center;
}

.flagImage {
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.indvCountry {
  display: inline-block;
  /* justify-content: space-evenly; */
  text-align: center;
  width: 500px;
  border: dotted 1px black;
  margin: 0.5em;
}
